<h3>Contact Me:</h3>
<div id="errors"></div>
<form action='/' id='contact_me' name='contact_me' method='post'>

  <label for='name'>Name</label>
  <input type="text" name='name' id='name' placeholder='NAME' required>

  <label for='email'>Email</label>
  <input type="email" name='email' id='email' placeholder='EMAIL' required>

  <label for='subject'>Subject</label>
  <input type="text" name='subject' id='subject' placeholder='SUBJECT' required>

  <label for='body'>Message</label>
  <textarea placeholder='MESSAGE' name="body" id="body" rows="10" required></textarea>

  <input id="submit" type="submit">
</form>
<script src="socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var errors = document.getElementById('errors');
  socket.on('socketToMe', function (data) {
    console.log(data);
  });
</script>
{{!-- <script src="javascripts/validation-error.js"></script> --}}
