<form action='/' id='contact_me' name='contact_me' method='post' novalidate='novalidate'>

  <label for='name'>Name</label>
  <input type="text" name='name' id='name' placeholder='NAME'>

  <label for='mail'>Email</label>
  <input type="email" name='mail' id='mail' placeholder='EMAIL'>

  <label for='subject'>Subject</label>
  <input type="text" name='subject' id='subject' placeholder='SUBJECT'>

  <label for='body'>Message</label>
  <textarea placeholder='MESSAGE' name="body" id="body" rows="10"></textarea>

  <input id="submit" type="submit">
</form>
