<h3>Contact Me:</h3>
<form action='/' id='contact_me' name='contact_me' method='post'>

  <label for='name'>Name</label>
  <input type="text" name='name' id='name' placeholder='NAME' required>

  <label for='email'>Email</label>
  <input type="email" name='email' id='email' placeholder='EMAIL' required>

  <label for='subject'>Subject</label>
  <input type="text" name='subject' id='subject' placeholder='SUBJECT' required>

  <label for='body'>Message</label>
  <textarea placeholder='MESSAGE' name="body" id="body" rows="10" required></textarea>

  <input id="submit" type="submit">
</form>

<script src="../../public/javascripts/validation-error.js"></script>
