{{#if flash}}
    <div class="flash {{flash.type}}">
        <button id="close">
            &times;
        </button>
        <strong>{{flash.intro}}</strong>{{{flash.message}}}
    </div>
    <script src="javascripts/flash.js"></script>
{{/if}}
