<footer class="footer navbar-inverse">
  <span id="logo-maker" class="pull-left">
    Logo made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
  </span>
  <span class="pull-right">
    <a toggle="tooltip" title="I took these photos and have chosen to license them under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License"
      rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
    </a>
  </span>
</footer>