<div id="home">
  <h1>Chad Kreutzer<br>
    <small>Web Developer: I like to make things</small>
  </h1>
</div>
<div id="home-body">
  <a href="#about">About</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#contact">Contact</a>
</div>