<form action="https://www.linkedin.com/in/chad-kreutzer-888a9b29">
      <button type="submit" role="button">
            <i class="fa fa-linkedin-square fa-4x">linkedin</i>
      </button>
</form>

<form action="https://github.com/ChadKreutzer">
      <button type="submit" role="button">
            <i class="fa fa-github fa-4x">github</i>
      </button>
</form>

<form action="https://twitter.com/kanthalion">
      <button type="submit" role="button">
            <i class="fa fa-twitter fa-4x">github</i>
      </button>
</form>
