<div class="flex-container">
  <div>
    <a href="https://www.linkedin.com/in/chad-kreutzer-888a9b29" class="li btn-lg" role="button">
      <i class="fa fa-linkedin-square fa-4x"></i>
    </a>
  </div>
  <div>
    <a href="https://github.com/ChadKreutzer" class="gh btn-lg" role="button">
      <i class="fa fa-github fa-4x"></i>
    </a>
  </div>
  <div>
    <a href="https://twitter.com/kanthalion" class="tw btn-lg" role="button">
      <i class="fa fa-twitter fa-4x"></i>
    </a>
  </div>
</div>