<div class="flex-container">
  <div>
    <a href="https://www.linkedin.com/in/chad-kreutzer-888a9b29" role="button">
      <i class="fa fa-linkedin-square fa-4x">linkedin</i>
    </a>
  </div>
  <div>
    <a href="https://github.com/ChadKreutzer" role="button">
      <i class="fa fa-github fa-4x">github</i>
    </a>
  </div>
  <div>
    <a href="https://twitter.com/kanthalion" role="button">
      <i class="fa fa-twitter fa-4x">twitter</i>
    </a>
  </div>
</div>
