<button href="https://www.linkedin.com/in/chad-kreutzer-888a9b29" role="button">
      <i class="fa fa-linkedin-square fa-4x">linkedin</i>
    </button>

<button href="https://github.com/ChadKreutzer" role="button">
      <i class="fa fa-github fa-4x">github</i>
    </button>

<button href="https://twitter.com/kanthalion" role="button">
      <i class="fa fa-twitter fa-4x">twitter</i>
    </button>
