<div id="about">
  <div class="row">
    <h2 class="text-bg section-heading text-center">
      My Story So Far
    </h2>
  </div>
</div>
<div id="about-body">
  <div class="container">
    <div class="row">
      <div class="text-bg col-sm-10 col-sm-offset-1">
        {{md 'about_me'}}
        <img class="img-responsive img-thumbnail center-block" src="/images/eli_and_me.jpg">
      </div>
    </div>
  </div>
</div>
