<div id="home">
  <h1>Chad Kreutzer<br>
    <small>Web Developer: I like to make things</small>
  </h1>
</div>
<div id="home-body">
  <button href="#about">About</button>
  <button href="#portfolio">Portfolio</button>
  <button href="#contact">Contact</button>
</div>
<div id="about">
  <h2>My Story So Far</h2>
</div>
<div id="about-body">
  <img id="pup-and-me" src="/images/eli_and_me.jpg" alt="My dog and me laying in the grass">
  {{md 'about_me'}}
</div>
<div id="portfolio">
  <h2>Things I Have Made</h2>
</div>
<div id="portfolio-body">
  {{> projects}}
</div>
<div id="contact">
  <h2>Ways to Reach Me</h2>
</div>
<div id="contact-body">
    {{> social_buttons}}
    {{> contact_form}}
</div>
<div id="goodbye"></div>
