<div id="portfolio">
  <div class="row">
    <h2 class="text-bg section-heading text-center">
      Things I Have Made
    </h2>
  </div>
</div>
<div id="portfolio-body">
  <h3>All of them made by hand with pride</h3>
<ul class="flex-container">
  {{!-- loop for projects --}}
</ul>
</div>
